<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
        {% for s in states.values()|sort(attribute="name") -%}
            <LI>{{ s.id }}: <B>{{ s.name }}</B>
                <UL>
                {% for c in cities.values()|sort(attribute="name") -%}
                    {% if s.id == c.state_id %}
                        <LI>{{ c.id }}: <B>{{ c.name }}</B></LI>
                    {% endif %}
                {%- endfor %}
                </UL>
            </LI>
        {%- endfor %}

        </UL>
    </BODY>
</HTML>